<!DOCTYPE html>
<html>
    <head>
        <title>Text To Audio Converter</title>
        <link href="static/css/home.css" type="text/css" rel="stylesheet"/>

    </head>
    <body>
        <div id="main">
            <h1>Text To Audio Converter</h1>
            <p>Write input text in the below box.</p>
            <form action="/convert" method="post">
                <textarea id="box" name="data"></textarea><br/>
                <input type="submit" value="Convert" id="sb"/>
            </form>
        </div>
    <!-- Footer -->
		<footer id="footer">
			<div class="icons">
				<!-- Add your social media icons here -->
			</div>
			<ul class="copyright">
				<li>&copy; 2024 T2S. All rights reserved.</li>
				<li>Design: <a href="https://www.facebook.com/abdelbaki.najjar">ABDELBAKI</a></li>
			</ul>
		</footer>
    </body>
</html>